
 <html>
   <body>
     <div class="div-position container-fluid">
    <h1 class="header" align="center">
        Add Category
      </h1>
      <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12"></div>
      <div class="col-md-6 col-md-offset-0  col-sm-7 col-sm-offset-3  col-xs-10 col-xs-offset-1">
      <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade in">
          <strong>Success! </strong>{{successMessage}}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade in">
          <strong>Server Error! </strong>{{errorMessage}}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      <form #addCategoryForm="ngForm" class="form-horizontal form-container" (ngSubmit)="addWorkoutCategory(addCategoryForm)">
          <form id="categoryFilterForm">
              <input type="text" placeholder="Search here" class="search-box" name="categorySearchText" [(ngModel)]="categorySearchText">
          </form>
        <div class="form-group">
        <div class="col-xs-10">
        <input class="form-control" name="categoryName" [(ngModel)]="categoryName" type="text" required>
        </div>
        <span>
            <button type="submit" [disabled]="!addCategoryForm.form.valid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
        </div>
      <table>
            <tr *ngFor = "let category of viewAllCategory | categorySearch:categorySearchText; let i = index">
              <td class="td-style">
                <div class="viewAllWorkout-font">
                  <input type="text" class="form-control" #textbox [attr.id]="'category-' + i"  [value]="category.categoryName" [attr.disabled]="category.isEdit?null:''">
                </div>
              </td>
              <td class="td-style">
                <input class="btn btn-info"  type="button" [attr.id]="'editBtn' + i" value="Edit" (click)="editCategory(category,i,$event,textbox)">
            </td>
            <td class="td-style">
                <input class="btn btn-danger" type="button" value="Delete" (click)="deleteCategory(category,i)">
            </td>
            </tr>
          </table>
    </form>
          </div>
      </div>
</div>
   </body>
 </html>