body{
    overflow-x: hidden;
    width: 100%; 
}
.div-position{
    position: relative;
    top: 0px;
    background-image: url(../../assets/images/workout-bg4.jpeg);
    background-repeat: no-repeat;
    background-size: 1500px;
}

.row{
    height: 100vh;
}

.td-style{
    padding: 10px;
}

.form-container{
    margin-top: 25px;
    border: 0px solid;
    padding: 50px 60px;
    -webkit-box-shadow: -1px 4px 26px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 20px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 20px rgba(0,0,0,0.75); 
    background-color: #252323;
    opacity: 0.9;
}

.header{
    color: white;
    position: relative;
    /* left: 222px; */
}


.search-box{
    width: 99%;
    height: 35px;
    border-radius: 5px;
    border: none;
    /* margin-left: 20px; */
    margin-bottom: 20px;
    margin-top: 10px;
}