<html>
    <body>
        <div class="div-position container-fluid">
     <h1 class="header col-lg-offset-1" align="center">
        Edit Workout
    </h1> 
    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-8"></div>
    <div class="col-lg-5 col-lg-offset-2 col-md-6 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-8 col-xs-offset-2">
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade in">
        <strong>Success! </strong>{{successMessage}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade in">
        <strong>Server Error! </strong>{{errorMessage}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <form #editWorkouts="ngForm" class="editForm form-container" (ngSubmit)="onEditWorkoutFormSubmit()">
    <div  *ngFor = "let data of editDetails; let i = index">
        <div class="form-group group">
            <label class="form-control-label label">Title: </label>
            <input class="form-control" name="workoutTitle" [value]="data.workoutTitle" [(ngModel)]="data.workoutTitle" (input)="data.workoutTitle=$event.target.value" type="text">
        </div>
        <div class="form-group group">
            <label class="form-control-label label">Note: </label>
            <input class="form-control" name="workoutNote" [value]="data.workoutNote" [(ngModel)]="data.workoutNote" (input)="data.workoutNote=$event.target.value" type="text">
        </div>
    </div>
        <div class="form-group group">
            <label class="form-control-label label">Category </label>
            <select (change)="onSelect($event)" name="categoryId"  [(ngModel)]="categoryList.categoryId">
                <option *ngFor="let category of viewCategoryForEdit"  [ngValue]="category.categoryId">
                {{category.categoryName}}
                </option>
            </select>
        </div>
      <div class="btn-style">
        <input type="submit" class="btn btn-success submit-btn" value="Update">
        <input type="button" class="btn btn-danger submit-btn" value="Cancel" (click)="OnCancelUpdate()">
      </div>
    </form>
     </div>
    </div>
</div>
</body>
</html>
