<!--The content below is only a placeholder and can be replaced.-->
<div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid navbar-height">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="viewAll">View All</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="createWorkout">Create</a></li>
      <li><a routerLink="category">Category</a></li>
      <li><a routerLink="tracker">Tracker</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</nav>
</div>


