body{
    overflow: hidden; 
    width: 100%;
}
.div-position{
    position: relative;
    top: 0px;
    background-image: url(../../assets/images/workout-bg4.jpeg);
    background-repeat: no-repeat;
    background-size: 1500px;
}

.row{
    height: 100vh;
}

.form-container{
    margin-top: 20px;
    border: 0px solid;
    padding: 50px 60px;
    -webkit-box-shadow: -1px 4px 26px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 20px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 20px rgba(0,0,0,0.75); 
    background-color: #252323;
    opacity: 0.9;
}

.label{
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.header{
    color: white;
    position: relative;
    /* left: 222px; */
}

.submit-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}