<html>
<body>
<div class="div-position container-fluid">
  <h1 class="header"  align="center">
  Add Workout
</h1>
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12"></div>
  <div class="col-md-5 col-sm-4 col-xs-12">
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade in">
      <strong>Success! </strong>{{successMessage}}
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade in">
      <strong>Server Error! </strong>{{errorMessage}}
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
<form #addWorkoutForm="ngForm" class="form-container form-horizontal" (ngSubmit)="onAddWorkoutFormSubmit(addWorkoutForm)"> 
<div id="add-workout-wrapper">
  <div class="form-group">
      <label class="form-control-label label">Title </label>
        <input class="form-control" placeholder="Workout Title" name="workoutTitle" [(ngModel)]="workoutTitle" type="text" required>
    </div>
 <div class="form-group">
      <label class="form-control-label label">Note </label>
        <textarea class="form-control" placeholder="Type notes here..." name="workoutNote" [(ngModel)]="workoutNote" required></textarea>
 </div>
 
 <div class="form-group">
    <div class="col-md-10 col-sm-10 col-xs-10">        
      <label class="form-control-label label">Calories Burnt Per Min </label>
      <input type="text" placeholder="Calories Burnt Per Min" class="form-control" name="caloriesBurnt" [(ngModel)]="caloriesBurnt" required>
    </div>
    <button type="button" class="increment-decrement-btn" (click)="incrementValue()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button type="button" class="increment-decrement-btn" (click)="decrementValue()">
      <span class="glyphicon glyphicon-minus"></span>
    </button>     
  </div>
 <div class="form-group">
      <label class="form-control-label label">Category </label>
        <select (change)="onSelect($event)" name="categoryId" [(ngModel)]="selectedCategory.categoryId">
          <option *ngFor="let category of viewCategoryList"  [ngValue]="category.categoryId">
            {{category.categoryName}}
          </option>
        </select>
      </div>
 <div>  
   <input type="submit" [disabled]="!addWorkoutForm.form.valid" class="btn btn-success btn-block submit-btn" value="Add Workout">
  </div>
</div>
</form>
  </div>
</div>
</div>
</body>
</html>