.div-position{
    position: relative;
    top: 60px;   
}

#add-workout-wrapper{
    position: relative;
    /*left: 200px;
    display: block;
    background-color: #cad6dc;
    padding: 40px;
    width: 88%;*/
    background-color: #cad6dc;
    padding: 40px;
}