<html>
  <body>
    <div class="div-position container-fluid">
  <h1 *ngIf="startButtonIdFlag;else end" class="header col-lg-offset-1" align="center">
      Start Workout
  </h1> 
  <ng-template #end>
      <h1 class="col-lg-offset-1 header" align="center">
          End Workout
      </h1>
  </ng-template> 
  <div class="row">
    <div class="col-lg-0 col-md-1 col-sm-4 col-xs-8"></div>
    <div class="col-lg-5 col-lg-offset-3 col-md-6 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade in">
        <strong>Success! </strong>{{successMessage}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade in">
        <strong>Error! </strong>{{errorMessage}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
  <form *ngIf="startButtonIdFlag;else endForm" #startWorkouts="ngForm" class="editForm form-container" (ngSubmit)="onStartWorkoutFormSubmit()">
    <div>
      <div  *ngFor = "let data of startParams; let i = index">
      <div class="form-group group">
        <label class="form-control-label label">Title: </label>
        <input class="form-control" name="workoutTitle" [value]="data.workoutTitle" [(ngModel)]="data.workoutTitle" (input)="data.workoutTitle=$event.target.value" type="text" readonly>
     </div>
       <div class="form-group group">
        <label class="form-control-label label">Note: </label>
        <input class="form-control" name="workoutNote" [value]="data.workoutNote" [(ngModel)]="data.workoutNote" (input)="data.workoutNote=$event.target.value" type="text">
    </div>
      <div class="form-group group">
        <label class="form-control-label label">Start Date: </label>
        <input class="form-control" name="startDate" [value]="data.startDate" [(ngModel)]="data.startDate" (input)="data.startDate=$event.target.value" type="text">
    </div>
    <div class="form-group group">
        <label  class="form-control-label label">Start Time: </label>
        <input class="form-control" name="startTime" [value]="data.startTime" [(ngModel)]="data.startTime" (input)="data.startTime=$event.target.value" type="text">
    </div>
  </div>
  <div class="d-flex flex-row buttons">
    <input type="submit" class="btn btn-success submit-btn" value="Start" [disabled]="disableStartBtn()">
    <input type="button" class="btn btn-danger submit-btn" value="Cancel" (click)="onCancelBtnPress()">
  </div>

</div>
  </form>
  <ng-template #endForm>
  <form #endWorkouts="ngForm" class="editForm form-container" (ngSubmit)="onEndWorkoutFormSubmit()">
      <div>
        <div  *ngFor = "let data of startParams; let i = index">
        <div class="form-group group">
            <label class="form-control-label label">Title: </label>
            <input class="form-control" name="workoutTitle" [value]="data.workoutTitle" [(ngModel)]="data.workoutTitle" (input)="data.workoutTitle=$event.target.value" type="text" readonly>
        </div>
        <div class="form-group group">
            <label class="form-control-label label">Note: </label>
            <input class="form-control" name="workoutNote" [value]="data.workoutNote" [(ngModel)]="data.workoutNote" (input)="data.workoutNote=$event.target.value" type="text">
        </div>
        <div class="form-group group">
              <label  class="form-control-label label">End Date: </label>
              <input class="form-control" name="endDate" [value]="data.endDate" [(ngModel)]="data.endDate" (input)="data.endDate=$event.target.value" type="text">
        </div>
        <div class="form-group group">
              <label class="form-control-label label">End Time: </label>
              <input class="form-control" name="endTime" [value]="data.endTime" [(ngModel)]="data.endTime" (input)="data.endTime=$event.target.value" type="text">
        </div>>
    </div>
    <div class="d-flex flex-row buttons">
      <input  type="submit" class="btn btn-success submit-btn" value="End" [disabled]="disableEndBtn()">
      <input type="button" class="btn btn-danger submit-btn" value="Cancel" (click)="onCancelBtnPress()">
    </div>
  
  </div>
    </form>
  </ng-template>
</div>
</div>
</div>
  </body>
</html>
