
body{
    overflow-x: hidden;
    width: 103%;
    margin-left: -16px;
}

.div-position{
    position: relative;
    top: 0px;
    background-image: url(../../assets/images/workout-bg4.jpeg);
    background-repeat: no-repeat;
}

.buttons{
    position: relative;
    margin-left: 59px;
    padding: 10px;
}

.header{
    color: white;
    position: relative;
}

.label{
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.row{
    height: 100vh;
}

.form-container{
    border: 0px solid;
    padding: 50px 60px;
    -webkit-box-shadow: -1px 4px 26px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 20px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 20px rgba(0,0,0,0.75); 
    background-color: #252323;
    opacity: 0.9;
}

.submit-btn{
    margin-right: 20px;
}

.group{
    padding: 5px;
}