<div class="div-position">
  <h1>
  tracker works!
</h1>
<!-- <div><input type="button" (click)="OnClick()" value="Click here"></div> -->
<!-- <div>
  <h3>Workout Time of Day : {{trackerData.workoutTimeOfDay}} mins</h3>
  <h3>Workout Time of Week : {{trackerData.workoutTimeOfWeek}} mins</h3>
  <h3>Workout Time of Month : {{trackerData.workoutTimeOfMonth}} mins</h3>
</div> -->
<div>
<h3> Weekly Calorie Burn Chart</h3>
<div style="width: 300px; height: 300px;">
  <canvas
  baseChart
  [chartType]="'bar'"
  [datasets]="weeklyChartData"
  [labels]="weeklyChartlabels"
  [options]="chartOptions"
  [legend]="true"
  [colors]="weeklyChartcolor">
  </canvas>
  </div>
  <p> Week Total Calories Burnt:  {{weeklyCaloriesBurnt}}</p>
</div>
<div>
  <h3> Monthly Calorie Burn Chart</h3>
  <div style="width: 300px; height: 300px;">
    <canvas
    baseChart
    [chartType]="'bar'"
    [datasets]="monthlyChartData"
    [labels]="monthlyChartlabels"
    [options]="chartOptions"
    [legend]="true"
    [colors]="monthlyChartcolor">
    </canvas>
    </div>
    <p> Month Total Calories Burnt:  {{monthlyCaloriesBurnt}}</p>
  </div>
  <div>
    <h3> Yearly Calorie Burn Chart</h3>
    <div style="width: 300px; height: 300px;">
    <canvas baseChart
    [chartType]="'bar'"
    [datasets]="chartData"
    [labels]="labels"
    [options]="chartOptions"
    [legend]="true"
    [colors]="colors"
    (chartClick)="chartClicked($event)">
    </canvas>
    </div>
      <p> Year Total Calories Burnt:  {{yearlyCaloriesBurnt}}</p>
  </div>
</div>
