<div class="div-position container-fluid">
  <h1 class="col-lg-offset-5 header">
   Track Workout
</h1>
 <div>
  <h4 class="header font-color">Workout Time of Day : {{trackerData.workoutTimeOfDay}} mins</h4>
  <h4 class="header font-color">Workout Time of Week : {{trackerData.workoutTimeOfWeek}} mins</h4>
  <h4 class="header font-color">Workout Time of Month : {{trackerData.workoutTimeOfMonth}} mins</h4>
</div>
<div>
<h3 class="header"> Weekly Calorie Burn Chart</h3>
<div style="width: 300px; height: 300px;">
  <canvas
  baseChart
  [chartType]="'bar'"
  [datasets]="weeklyChartData"
  [labels]="weeklyChartlabels"
  [options]="chartOptions"
  [legend]="true"
  [colors]="weeklyChartcolor">
  </canvas>
  </div>
  <p class="header font-color-1"> Week Total Calories Burnt:  {{weeklyCaloriesBurnt}}</p>
</div>
<div>
  <h3 class="header"> Monthly Calorie Burn Chart</h3>
  <div style="width: 300px; height: 300px;">
    <canvas
    baseChart
    [chartType]="'bar'"
    [datasets]="monthlyChartData"
    [labels]="monthlyChartlabels"
    [options]="chartOptions"
    [legend]="true"
    [colors]="monthlyChartcolor">
    </canvas>
    </div>
    <p class="header font-color-1"> Month Total Calories Burnt:  {{monthlyCaloriesBurnt}}</p>
  </div>
  <div>
    <h3 class="header"> Yearly Calorie Burn Chart</h3>
    <div style="width: 300px; height: 300px;">
    <canvas baseChart
    [chartType]="'bar'"
    [datasets]="chartData"
    [labels]="labels"
    [options]="chartOptions"
    [legend]="true"
    [colors]="colors"
    (chartClick)="chartClicked($event)">
    </canvas>
    </div>
      <p class="header font-color-1"> Year Total Calories Burnt:  {{yearlyCaloriesBurnt}}</p>
  </div>
</div>
