
body{
    overflow-x: hidden;
    width: 103%;
    margin-left: -16px;
}

.div-position{
    position: relative;
    display: block;
    top: 0px;
    
}

.viewAllWorkout-font{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 21px;
    margin-top: 11px;
    border: 1px solid powderblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 17px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    color: white;
}


.workoutEntry-tr{
    padding-right: 46px;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 4px;
    /* width: 650px; */
}

.viewall-container{
    /* height: 100vh; */
    background-image: url(../../assets/images/workout-bg4.jpeg);
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
}


.header{
    color: white;
    font-family: SERIF;
    padding-top: 20px;
    font-weight: bold;
}

.workout-td{
    background-color: #252323;
    padding: 11px;
    border-radius: 4px;
    width: 550px;
    opacity: 0.9;
}

.btn-grp{
    padding-left: 19px;
}

.btn-span{
    padding-right: 10px;
}

.search-box{
    /* width: 80%; */
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}