<html>
  <body>       
    <div class="viewall-container container-fluid">
    <h1 class="header" align="center">
        View All Workouts
      </h1>
<div *ngIf="!isEditWorkout" class="div-position">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
      <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade in">
          <strong>Success! </strong>{{successMessage}}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade in">
          <strong>Server Error! </strong>{{errorMessage}}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
  <form #viewAllWorkouts="ngForm">
  <table>
    <form id="filterForm">
        <input type="text" placeholder="Search here" class="search-box" name="searchText" [(ngModel)]="searchText">
    </form>
    <tr class="workoutEntry-tr col-xs-12" *ngFor = "let workoutData of viewAllWorkout | searchFilter:searchText; let i = index">
      <td class="workout-td">
        <div class="viewAllWorkout-font">{{workoutData.workoutTitle}}</div>
        <div class="btn-grp">
          <span class="btn-span">
            <input class="btn btn-info" type="button" value="Edit" [routerLink]="['/editWorkout', workoutData.workoutId]">
          </span>
          <span class="btn-span">
            <input class="btn btn-info" type="button" value="Delete" (click)="deleteWorkout(workoutData,i)">
          </span>
          <span class="btn-span">
            <input class="btn btn-success" type="button" value="Start" (click)="onClick($event,workoutData,i)" [routerLink]="['/startWorkout', workoutData.workoutId]">
          </span>
          <span class="btn-span">
            <input class="btn btn-danger" type="button"  value="End" (click)="onClick($event,workoutData,i)" [routerLink]="['/startWorkout', workoutData.workoutId]">
            <!-- [disabled]="fnDisableEndButton(i)"  -->
          </span>
        </div>
      </td>
    </tr>
  </table>
  </form>
        </div>
    </div>
</div>
</div>
  </body>
</html>