.center {
    display: block;
    margin-right: auto;
}

.container-background{
    position: relative;
    top: 38px;

}

.header{
	font-family: "Montserrat";
    font-weight: bold;
    position: relative;
}