.center {
    display: block;
    margin-right: auto;
}

.container-background{
	background-image: url(../../assets/images/workout-background-3.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: 38px;

}

.heading{
	font-family: cursive;
    font-weight: bold;
    margin-left: 364px;
}